:root {
    --primary-color: #e57f33;
    --secondary-color: #333;
    --background-color: #000;
    --text-color: #fff;
    --logo-color: #e57f33;
    --hover-color: #ff8c42;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 1.6;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 250px;
    height: 40px;
    background-image: url("/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color);
    position: relative;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s;
    bottom: -5px;
    left: 0;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: var(--primary-color);
}

.toggle-bar {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--secondary-color);
}

/* Hero Section */
.hero {
    height: 80vh;
    padding: 50px 0;
    position: relative;
    background: url("../images/business-concept-with-graphic-holography.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
}

.hero-content {
    max-width: 500px;
    color: var(--text-color);
    padding-top: 50px;
}

.hero-content p {
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .toggle-bar {
        display: block;
    }

    nav ul {
        flex-direction: column;
        display: none;
        background-color: var(--background-color);
        padding: 20px;
        border-radius: 10px;
    }

    nav ul.show {
        display: flex;
    }

    .nav-link {
        font-size: 1.2rem;
        padding: 10px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}
